<html>
  <head>
    <%- include("./partials/head") %>
  </head>
  <body>
    <%- include("./partials/header") %>
    <div class="mt-4 w-3/4 m-auto">
      <h1 class="text-4xl capitalize">Complete List of Idioms</h1>
      <hr />
      <div class="mx-4">
        <% for (var idiom in idioms){ %>
        <h1 class="text-xl mt-4 capitalize"><%= idioms[idiom].name %></h1>
        <ul>
          <li class="mx-4"><%= idioms[idiom].meanings[0] %></li>
        </ul>
        <%}%>
        <div class="container mt-4 flex justify-center">
          <% if (page > 0) { %>
          <button
            class="bg-teal-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-sm m-4"
            onclick="window.location.href='/completeList/<%- page - 1 _%>'"
          >
            Previous
          </button>
          <%}%>
          <button
            class="bg-teal-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-sm m-4"
            onclick="window.location.href='/completeList/<%- page + 1 _%>'"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
