<html>
  <head>
    <%- include("./partials/head") %>
  </head>
  <body>
    <%- include("./partials/header") %>
    <div class="mt-4 w-3/4 m-auto">
      <h1 class="text-4xl capitalize"><%= idiom.name %></h1>
      <hr />
      <h1 class="text-xl mx-4 mt-4">Meaning</h1>
      <ul class="list-disc mx-12 mt-2">
        <% for (var meaning in idiom.meanings){ %>
        <li><%= idiom.meanings[meaning] %></li>
        <%}%>
      </ul>
      <h1 class="text-xl mx-4 mt-4">Example Sentences</h1>
      <ul class="list-disc mx-12 mt-2">
        <% for (var example in idiom.examples){ %>
        <li class=""><%= idiom.examples[example] %></li>
        <%}%>
      </ul>
      <h1 class="text-xl mx-4 mt-4">Origin</h1>
      <p class="mx-8 mt-2"><%=idiom.origin %></p>
    </div>
  </body>
</html>
