<html>
  <head>
    <%- include("./partials/head") %>
  </head>
  <body>
    <%- include("./partials/header") %>
    <div class="mt-5"></div>
    <div class="container">
      <div class="row">
        <h1 class="text-capitalize"><%= idiom.name %></h1>
      </div>
      <hr />
      <div class="row">
        <h3>Meaning</h3>
      </div>
      <div class="row">
        <ul>
          <% for (var meaning in idiom.meanings){ %>
          <li><%= idiom.meanings[meaning] %></li>
          <%}%>
        </ul>
      </div>
      <div class="row">
        <h3>Examples</h3>
      </div>
      <div class="row">
        <ul>
          <% for (var example in idiom.examples){ %>
          <li><%= idiom.examples[example] %></li>
          <%}%>
        </ul>
      </div>

      <div class="row">
        <h3>Origin</h3>
      </div>
      <div class="row">
        <p><%=idiom.origin %></p>
      </div>
    </div>
  </body>
</html>
